<!-- register.ejs -->
<html>
  <head>
    <link href="style/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="fonts/linearicons/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="inner">
        <img src="images/image-1.png" alt="" class="image-1" />
        <form action="/student/register" method="POST" id="registerForm">
          <h3>New Account?</h3>
          <div class="form-holder">
            <span class="lnr lnr-envelope"></span>
            <input
              class="form-control"
              type="text"
              name="email"
              placeholder="Email"
              id="email"
            />
          </div>
          <div class="form-holder">
            <span class="lnr lnr-user"></span>
            <input
              class="form-control"
              type="text"
              name="firstName"
              placeholder="First Name"
              id="firstName"
            />
          </div>
          <div class="form-holder">
            <span class="lnr lnr-user"></span>
            <input
              class="form-control"
              type="text"
              name="lastName"
              placeholder="Last name"
              id="lastName"
            />
          </div>
          <div class="form-holder">
            <span class="lnr lnr-lock"></span>
            <input
              type="text"
              class="form-control"
              name="studentId"
              placeholder="Student ID"
              id="studentId"
            />
          </div>
          <div class="form-holder">
            <span class="lnr lnr-lock"></span>
            <input
              type="text"
              class="form-control"
              name="intake"
              placeholder="2024/2025"
              id="intake"
            />
          </div>
          <div class="form-holder">
            <span class="lnr lnr-lock"></span>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              id="password"
            />
          </div>
          <button type="submit">
            <span>Register</span>
          </button>
          <a href="/login" class="bottom-text">I am already a user</a>
        </form>
        <img src="images/image-2.png" alt="" class="image-2" />
      </div>
    </div>
    <script src="javascript/jquery-3.3.1.min.js"></script>
    <script src="javascript/main.js"></script>
  </body>
</html>
