<!-- register.ejs -->
<h1>Register</h1>
<form action="/student/register" method="POST">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last name">
    <input type="text" name="studentId" placeholder="Student ID">
    <input type="text" name="intake" placeholder="2024/2025">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Register</button>
</form>